<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CLAVE-EMPRESA" value="0000000001"/>
    <add key="CLAVE-PAGO-EFECTIVO" value="EF"/>
    <add key="NOMBRE-COMERCIAL" value="LOS MARISCOS DE CHICHI 2"/>
    <add key="RAZON-SOCIAL" value="PERGASA CHICHI SA DE CV"/>
    <add key="RFC" value="PCI1806205K8"/>
    <add key="DIRECCION-FISCAL" value="CALLE 12 NO. 255 X 23 Y 25 SANTA MARIA CHI"/>
    <add key="CODIGO-POSTAL" value="97306"/>
    <add key="CIUDAD" value="MERIDA"/>
    <add key="ESTADO" value="YUCATÁN"/>
    <add key="PAIS" value="MÉXICO"/>
    <add key="TELEFONO" value="9995180825"/>
    <add key="DIRECCION-SUCURSAL" value="CALLE 29 NO. 165 X 14 MEXICO ORIENTE"/>
    <add key="CIUDAD-SUCURSAL" value="MERIDA"/>
    <add key="ESTADO-SUCURSAL" value="YUCATÁN"/>
    
    <add key="PATH-BITACORA-FISCAL" value="C:\Users\Alber\Desktop\ReportesMA\bitacora"/>
    <add key="PATH-RESUMIDO" value="C:\Users\Alber\Desktop\ReportesMA\resumido"/>
    <add key="PATH-DETALLADO-HORIZONTAL" value="C:\Users\Alber\Desktop\ReportesMA\detallado-horizontal"/>
    <add key="PATH-DETALLADO-VERTICAL" value="C:\Users\Alber\Desktop\ReportesMA\detallado-vertical"/>
    <add key="PATH-DETALLADO-FORMAS-PAGO" value="C:\Users\Alber\Desktop\ReportesMA\detallado-formas-pago"/>
    <add key="PATH-REIMPRESION-FOLIOS" value="C:\Users\Alber\Desktop\ReportesMA\folios"/>
    
    <!--ETIQUETAS, ENCABEZADO y PIE DE PAGINA PARA REIMPRESION DE FOLIOS-->
    <add key="HD-TELEFONOS" value="TELEFONOS:(999) 518 0824,  518 0825"/>
    <add key="HD-WHATSAPP" value="WHATSAPP:(999) 642 7325"/>
    <add key="FT-AGRADECIMIENTO" value="GRACIAS POR SU PREFERENCIA"/>
    <add key="FT-COMPROBANTE" value="ESTE NO ES UN COMPROBANTE FISCAL"/>
    <add key="FT-CODIGO-FACTURACION" value="CODIGO FACT:"/>
    <add key="FT-DIRECCION-WEB-FACTURACION" value="FACTURA EN:HTTP://MEFACTURO.MX/LOSMARISCOSDECHICHI"/>
    <add key="FT-VIGENCIA-FACTURACION" value="DIAS VIGENCIA:3"/>
    <add key="FT-VERSION-SOFTRESTAURANT" value="***SOFT RESTAURANT V9.5 PRO***"/>

    <add key="DIR_DATABASE" value="C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.NATIONALSOFT\MSSQL\Backup" />
    <add key="DIR_SAVE_ZIP_BACKUP" value="C:\Users\Alber\Desktop" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ConexionSI" connectionString="Data Source=.\NATIONALSOFT;Initial Catalog=sr95pro_mod_adi;user id=sa;password=TmF0aW9uYWwwOQ==;Integrated Security=True;Connection Timeout=120;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="Connection" connectionString="Data Source=.\NATIONALSOFT;Initial Catalog=G_MA;user id=sa;password=TmF0aW9uYWwwOQ==;Integrated Security=True;Connection Timeout=120;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
      <providers>
          <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>